# The Effect of Proximity To Top-tier Universities On Startups
### by Jessica Dowuona-Owoo

##### Introduction

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
objects = pd.read_csv('/Users/jessyterlisner/Desktop/ECO225Project/Data/objects.csv', low_memory=False)
investments = pd.read_csv('/Users/jessyterlisner/Desktop/ECO225Project/Data/investments.csv')
office = pd.read_csv('/Users/jessyterlisner/Desktop/ECO225Project/Data/offices.csv')
milestones = pd.read_csv('/Users/jessyterlisner/Desktop/ECO225Project/Data/milestones.csv')
funds = pd.read_csv('/Users/jessyterlisner/Desktop/ECO225Project/Data/funds.csv')
degrees = pd.read_csv('/Users/jessyterlisner/Desktop/ECO225Project/Data/degrees.csv')
ipos = pd.read_csv('/Users/jessyterlisner/Desktop/ECO225Project/Data/ipos.csv')

#remove unwanted columns
investments.drop(columns= ['created_at', 'updated_at'], inplace=False)
objects.drop(columns= ['created_at', 'updated_at'], inplace= False)

,id,entity_type,entity_id,parent_id,name,normalized_name,permalink,category_code,status,founded_at,...,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,relationships,created_by
0,c:1,Company,1,NaN,Wetpaint,wetpaint,/company/wetpaint,web,operating,2005-10-17,...,0,2005-10-01,2008-05-19,3,39750000.0,2010-09-05,2013-09-18,5,17,initial-importer
1,c:10,Company,10,NaN,Flektor,flektor,/company/flektor,games_video,acquired,NaN,...,0,NaN,NaN,0,0.0,NaN,NaN,0,6,initial-importer
2,c:100,Company,100,NaN,There,there,/company/there,games_video,acquired,NaN,...,0,NaN,NaN,0,0.0,2003-02-01,2011-09-23,4,12,initial-importer
3,c:10000,Company,10000,NaN,MYWEBBO,mywebbo,/company/mywebbo,network_hosting,operating,2008-07-26,...,0,NaN,NaN,0,0.0,NaN,NaN,0,0,NaN
4,c:10001,Company,10001,NaN,THE Movie Streamer,the movie streamer,/company/the-movie-streamer,games_video,operating,2008-07-26,...,0,NaN,NaN,0,0.0,NaN,NaN,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462646,r:9995,Product,9995,c:14164,"SiteLink, listing feed for Brokerages",sitelink listing feed for brokerages,/product/sitelink-listing-feed-for-brokerages,NaN,operating,NaN,...,0,NaN,NaN,0,0.0,NaN,NaN,0,0,NaN
462647,r:9996,Product,9996,c:14164,"EDCLink, listing feed for Economic Development...",edclink listing feed for economic development ...,/product/edclink-listing-feed-for-economic-dev...,NaN,operating,NaN,...,0,NaN,NaN,0,0.0,NaN,NaN,0,0,NaN
462648,r:9997,Product,9997,c:14164,"Cmail, broadcast email marketing",cmail broadcast email marketing,/product/cmail-broadcast-email-marketing,NaN,operating,NaN,...,0,NaN,NaN,0,0.0,NaN,NaN,0,0,NaN
462649,r:9998,Product,9998,c:14164,"CatylistCRM, contact database",catylistcrm contact database,/product/catylistcrm-contact-database,NaN,operating,NaN,...,0,NaN,NaN,0,0.0,NaN,NaN,0,0,NaN
462650,r:9999,Product,9999,c:14164,Catylist Custom Print/Web Design,catylist custom print web design,/product/catylist-custom-print-web-design,NaN,operating,NaN,...,0,NaN,NaN,0,0.0,NaN,NaN,0,0,NaN

In [27]:
source = pd.merge(objects, investments, left_on = "id", right_on = "funded_object_id")

In [31]:
source.isnull().any(axis=0)

id_x                   False
entity_type            False
entity_id              False
parent_id               True
name                   False
normalized_name        False
permalink              False
category_code           True
status                 False
founded_at              True
closed_at               True
domain                  True
homepage_url            True
twitter_username        True
logo_url                True
logo_width             False
logo_height            False
short_description       True
description             True
overview                True
tag_list                True
country_code            True
state_code              True
city                    True
region                 False
first_investment_at     True
last_investment_at      True
investment_rounds      False
invested_companies     False
first_funding_at        True
last_funding_at         True
funding_rounds         False
funding_total_usd      False
first_milestone_at      True
last_milestone_at       True
milestones             False
relationships          False
created_by              True
created_at_x           False
updated_at_x           False
id_y                   False
funding_round_id       False
funded_object_id       False
investor_object_id     False
created_at_y           False
updated_at_y           False
dtype: bool